<div class="jumbotron jumbotron-fluid jumbotron-extend">
  <div class="container jumbotron-container text-white">
    <div class="row">
      <div class="col-5">
        <h2><%= fa_icon "beer", text: "お酒を飲もう" %></h2>
        <h2><%= fa_icon "chart-bar", text: "お酒の好みを知ろう" %></h2>
        <h2><%= fa_icon "smile", text: "お酒をもっと楽しもう" %></h2>
        <hr class="my-4 bg-white">
        <%= link_to 'アカウント作成', new_user_registration_path, class: 'btn btn-lg btn-primary mr-5' %>
        <%= link_to 'ログイン', new_user_session_path, class: 'btn btn-lg btn-outline-primary' %>
      </div>
    </div>
  </div><!-- /.container -->
</div><!-- /.jumbotron -->
<div class="container">
