<div class="container-fluid">
  <div class="row">
    <!--サイドバー-->
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <%= render 'layouts/sidebar/sidebar_admins.html.erb' %>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
				<h2>管理者パスワード変更</h2>
				<!--検索機能-->
				<%= link_to "管理者情報編集画面へ", edit_admin_path(@admin.id), class: "btn btn-info" %>
			</div>

			<%= form_for(@admin) do |f| %>
        <% if @admin.errors.any? %>
          <div id="error_explanation">
            <h2>
              <%= @admin.errors.count %>件のエラーが発生しました
            </h2>
            <ul>
              <% @admin.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>  

        <div class="container">
          <div class="row justify-content-center">
            <div class="col-6">
              <div class="mb-3">
                <%= f.label :password, "パスワード" %>
                <%= f.password_field :password, autocomplete: "off",
                                                placeholder: "半角英数字(6文字~20文字)",
                                                class:"form-control" %>
              </div>
              <%= f.submit "-変更する-", class: "btn btn-primary" %>
            </div>
          </div>
        </div>

      <% end %>
    </main>

  </div>
</div>
