<%= form_for(brewery, url: url) do |f| %>
  <% if brewery.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= brewery.errors.count %>件のエラーが発生しました
      </h2>
      <ul>
        <% brewery.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="mb-3">
          <%= f.label :name, "蔵元名（必須）" %>
          <%= f.text_field :name, placeholder: "○○酒造",
                                  class: "form-control border border-warning" %>
        </div>
        <%= f.submit submit, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  
<% end %>
