<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
  
      <!-- Brand -->
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= fa_icon "heart", text: "日本酒" %>
      <% end %>
  
      <!-- Collapse -->
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <%= fa_icon "bars", text: "Menu" %>
      </button>
  
      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
  
        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item <%= 'active' if current_page?(root_path) %>">
            <%= link_to 'Home', root_path, class: 'nav-link' %>
          </li>
          <li class="nav-item <%= 'active' if current_page?(about_path) %>">
            <%= link_to 'About', about_path, class: 'nav-link' %>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item <%= 'active' if params[:controller] == 'users' %>">
              <%= link_to current_user.name_code, user_path(current_user), class: 'nav-link' %>
            </li>
            <li class="nav-item <%= 'active' if current_page?(posts_path) %>">
              <%= link_to '投稿一覧', posts_path, class: 'nav-link' %>
            </li>
            <li class="nav-item <%= 'active' if current_page?(new_post_path(current_user)) %>">
              <%= link_to '新規投稿', new_post_path(current_user), class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
  
        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link btn btn-outline-warning text-warning' %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'Log in', new_user_session_path, class: 'nav-link btn btn-outline-info text-info' %>
            </li>
            <li class="nav-item ml-2">
              <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link btn btn-outline-secondary text-secondary' %>
            </li>
          <% end %>
        </ul>
  
      </div>
  
    </div>
  </nav>
</header>
