<div class="container mt-5">

  <%= render 'layouts/navbar_users.html.erb' %>

  <div class="row justify-content-center">

    <div class="col-5 mb-5">
      <% @user.posts.each do |post| %>
        <div class="card mb-1">
          <div class="card-header">
            <%= post.user.nickname %>
            <div class="row">
              <div class="col-10">
                <%= post.updated_at.strftime('%Y/%m/%d　%H:%M') %>
              </div>
              <div class="col-2">
                <%= link_to post_path(post.id), method: :delete,
                                                data: {confirm: "本当に削除しますか？"} do %>
                  <i class="fa fa-trash"></i>
                <% end %>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="mx-auto d-block">
              <% if post.image_id  %>
                <%= attachment_image_tag post, :image, class: "card-img" %>
              <% end %>
              <h5 class="text-sm-center mt-2 mb-1">
                <%= post.sake.brand %>
              </h5>
              <h6 class="text-sm-center mt-2 mb-1">
                <%= post.sake.brewery.name %>
              </h6>
              <div class="location text-sm-center">
                <p class="text-primary">
                  <%= "★" if post.star == 1 %>
                  <%= "★★"  if post.star == 2 %>
                  <%= "★★★"  if post.star == 3 %>
                  <%= "★★★★"  if post.star == 4 %>
                  <%= "★★★★★"  if post.star == 5 %>
                </p>
              </div>
            </div>
            <hr>
            <p class="card-text text-sm-center">
              <%= post.content %>
            </p>
          </div>
        </div>
      <% end %>
    </div><!--col end-->

  </div>
</div>
