<!DOCTYPE html>
<html>
  <head>
    <title>PortfolioWcp3th</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="sticky-top">
      <% if admin_signed_in? %>
        <%= render 'layouts/header/header_admins'  %>
      <% else %>
        <%= render 'layouts/header/header_users'  %>
      <% end %>
    </header>

    <div class="main-container container-fluid">
      <%= yield %>
    </div>

    <footer class="bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Portfolio</p>
      </div>
    </footer>

    <% if Rails.env.development?%>
      <div class="debug">
        <%= debug(params) %>
      </div>
    <% end %>

  </body>
</html>
