<!DOCTYPE html>
<html>
  <head>
    <title>PortfolioWcp3th</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--Header-->
    <% if admin_signed_in? %>
      <%= render 'layouts/header/header_admins'  %>
    <% else %>
      <%= render 'layouts/header/header_users'  %>
    <% end %>


    <div class="container" style="padding-top:4.5rem;">
      <div class="row">
        <% if notice %>
          <p class="col-12 notice flash-message text-primary text-center"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="col-12 alert flash-message text-danger text-center"><%= alert %></p>
        <% end %>
      </div>
    </div>

    <div class="main-container container-fluid">
      <%= yield %>
    </div>

    <footer class="bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Portfolio</p>
      </div>
    </footer>

    <% if Rails.env.development?%>
      <div class="debug">
        <%= debug(response.status) %>
        <p>response status</p>
        <%= debug(params) %>
        <p>params</p>
        <%= debug(@user.inspect) %>
        <p>@user</p>
        <%= debug(current_user.inspect) %>
        <p>current_user</p>
      </div>
    <% end %>

  </body>
</html>
